.main {
  height: 100%;
  width: 100%;
  font-size: 50px;
  font-family: Fascinate, Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.gametitle {
  background: #4169E1;
  border: 1px dashed #00008B;
  border-radius: 50px;
  box-shadow: 0 0 0 2px #4169E1, 1px 3px 5px 2px rgba(10, 10, 0, 0.5);
  color: #00008B;
  float: none;
  font-size: 50px;
  font-weight: bold;
  height: 60px;
  margin: 30px;
  padding: auto;
  text-align: center;
  width: 600px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color:#00008B;
  background: #4169E1;
  border: .5px dashed #00008B;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #4169E1, 2px 1px 2px 3px rgba(10, 10, 0, 0.5);
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  float: none;
  height: 20px;
  margin-bottom: 50px;
  padding: 1px;
  text-align: center;
  width: 200px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  opacity: .5;
}


.square {
  background: #4169E1;
  border: .5px dashed #00008B;
  border-radius: 50px;
  box-shadow: 0 0 0 4px #4169E1, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  float: left;
  /*line-height: 200px;   makes text move slightly*/
  height: 200px;
  margin: 4.5px;
  padding: 1px;
  text-align: center;
  /* text-shadow: -1px -1px gray; */
  width: 200px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  opacity: .3;
}

.square:hover {
  background: #00008B;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #00008B, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

.psquare {
  font-family: Fascinate, sans-serif;
  background: #584ef5;
  color: #00008B;
  border: 1px dashed #00008B;
  border-radius: 50px;
  box-shadow: 0 0 0 4px #584ef5, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  float: left;
  font-size: 150px;
  font-weight: bold;
  /*line-height: 200px;   makes text move slightly*/
  height: 200px;
  margin: 4.5px;
  padding: 1px;
  text-align: center;
  text-shadow: -1px -1px gray;
  width: 200px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  opacity: .6;
}

.aisquare {
  background: blue;
  color: black;
  border: 1px dashed black;
  border-radius: 50px;
  box-shadow: 0 0 0 4px black, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  float: left;
  font-size: 24px;
  font-weight: bold;
  /*line-height: 200px;   makes text move slightly*/
  height: 200px;
  margin: 4.5px;
  padding: 1px;
  text-align: center;
  text-shadow: -1px -1px gray;
  width: 200px;
}


/*  removes outline around recently focused items */
.psquare:focus {
  outline: none;
}
.square:focus {
  outline: none;
}
.aisquare:focus {
  outline: none;
}
.resetButton:focus {
  outline: none;
}


.board {
  align-items: center;
  height:100%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
	background:
		-webkit-linear-gradient(45deg, hsla(243, 100%, 49%, 1) 0%, hsla(243, 100%, 49%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(244, 91%, 44%, 1) 10%, hsla(244, 91%, 44%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(211, 99%, 50%, 1) 10%, hsla(211, 99%, 50%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(10, 97%, 49%, 1) 100%, hsla(10, 97%, 49%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(243, 100%, 49%, 1) 0%, hsla(243, 100%, 49%, 0) 70%),
		linear-gradient(135deg, hsla(244, 91%, 44%, 1) 10%, hsla(244, 91%, 44%, 0) 80%),
		linear-gradient(225deg, hsla(211, 99%, 50%, 1) 10%, hsla(211, 99%, 50%, 0) 80%),
		linear-gradient(315deg, hsla(10, 97%, 49%, 1) 100%, hsla(10, 97%, 49%, 0) 70%);
  opacity: 0.7;
}

.border {
  align-items: center;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 3px solid #00008B;
}


.game-info {
  margin-left: 20px;
}

.reset {
  margin-bottom: 20px;
  padding: auto;
}

.resetButton {
  border-radius: 180px;
  background: #4169E1;
  border: 1px dashed #00008B;
  box-shadow: 0 0 0 2px #4169E1, 2px 1px 2px 3px rgba(10, 10, 0, 0.5);
  color: #00008B;
  float: none;
  font-size: 24px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  margin-top: 10px;
  padding: 1px;
  text-align: center;
  width: 200px;
  opacity: .5;
  font-family: Fascinate, sans-serif;
}

.resetButton:hover {
  background: #00008B;
  border: 1px dashed #00008B;
  box-shadow: 0 0 0 2px #00008B, 2px 1px 2px 3px rgba(10, 10, 0, 0.5);
  color: #4169E1;
  border-radius: 10px;
  float: none;
}
.hide{
    visibility: hidden;
}

.on {
  border-radius: 50px;
  border: 1px dashed #4169E1;
  box-shadow: 0 0 0 2px #00008B, 2px 1px 2px 3px rgba(10, 10, 0, 0.5);
  float: none;
  font-size: 50px;
  font-weight: bold;
  visibility: visible;
  width: 400px;
  background-color: #00008B;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  padding: 1px;
  position: absolute;
  margin-top: 320px;
  height: 400px;
  line-height: 200px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  -webkit-animation: flickerAnimation 5s infinite;
   -moz-animation: flickerAnimation 1s infinite;
   -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 5s infinite;
}

.on:hover {
  opacity: 0.7;
}

.off {
  visibility: hidden;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
