body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.gametitle {
  background: #000;
  border: 1px dashed #fff;
  border-radius: 50px;
  box-shadow: 0 0 0 2px #000, 1px 3px 5px 2px rgba(10, 10, 0, 0.5);
  color: white;
  float: none;
  font-size: 50px;
  font-weight: bold;
  height: 60px;
  margin: 30px;
  padding: auto;
  text-align: center;
  width: 600px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  background: #4C0001;
  border: 1px dashed #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 2px black, 2px 1px 2px 3px rgba(10, 10, 0, 0.5);
  font-size: 24px;
  font-weight: bold;
  line-height: 20px;
  float: none;
  height: 20px;
  margin-bottom: 50px;
  padding: 1px;
  text-align: center;
  width: 200px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.square {
  background: black;
  color: #4C0001;
  border: .5px dashed #4C0001;
  border-radius: 50px;
  box-shadow: 0 0 0 4px black, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  float: left;
  font-size: 24px;
  font-weight: bold;
  /*line-height: 200px;   makes text move slightly*/
  height: 200px;
  margin: 4.5px;
  padding: 1px;
  text-align: center;
  text-shadow: -1px -1px gray;
  width: 200px;
}

.square:hover {
  background: #4C0001;
  border: .5px dashed black;
  border-radius: 10px;
  box-shadow: 0 0 0 4px #4C0001, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
}

.psquare {
  background: #4C0001;
  color: black;
  border: 1px dashed black;
  border-radius: 50px;
  box-shadow: 0 0 0 4px black, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  float: left;
  font-size: 24px;
  font-weight: bold;
  /*line-height: 200px;   makes text move slightly*/
  height: 200px;
  margin: 4.5px;
  padding: 1px;
  text-align: center;
  text-shadow: -1px -1px gray;
  width: 200px;
}

.square:focus {
  outline: none;
}


.board {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.border {
  align-items: center;
  background-color: #4C0001;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 1px dashed #000;
  border-radius: - 22px;
  background: #4C0001;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #070000, #4C0001, #070000);
  background: linear-gradient(to top, #070000, #4C0001, #070000);
}

.game-info {
  margin-left: 20px;
}

.reset {
  margin-bottom: 20px;
  padding: auto;
}

.resetButton {
  border-radius: 2px;
  background: #000;
  border: 1px dashed black;
  box-shadow: 0 0 0 2px #000, 2px 1px 2px 3px rgba(10, 10, 0, 0.5);
  color: #4C0001;
  float: none;
  font-size: 24px;
  font-weight: bold;
  height: 40px;
  line-height: 20px;
  margin-top: 10px;
  padding: 1px;
  text-align: center;
  width: 200px;
}

.resetButton:hover {
  border: .5px dashed #4C0001;
  border-radius: 2px;
  box-shadow: 0 0 0 2px #000, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  float: none;
}

.on {
  border-radius: 2px;
  border: 1px dashed #fff;
  box-shadow: 0 0 0 2px #000, 2px 1px 2px 3px rgba(10, 10, 0, 0.5);
  float: none;
  font-size: 50px;
  font-weight: bold;
  visibility: visible;
  width: 400px;
  background-color: #000;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  border-radius: 6px;
  word-wrap: break-word;
  padding: 1px;
  position: absolute;
  margin-top: 10px;
    margin-top: 320px;
  height: 400px;
  line-height: 200px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.on:hover {
  opacity: 0.7;
}

.off {
  visibility: hidden;
}
